@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
	.heading {
		font-size: theme("fontSize.4xl");
		font-weight: theme("fontWeight.bold");
	}
	.heading-2 {
		font-size: theme("fontSize.2xl");
		font-weight: theme("fontWeight.bold");
	}
}

div {
	overscroll-behavior-inline: auto;
}
